.nav {
  $this: &;

  display: inline-grid;
  grid-auto-flow: column;

  /* Variant: header */
  &-header {
    column-gap: 8px;

    @include b-d(xxl) {
      column-gap: 0;
    }

    #{$this}-link {
      color: $white-500;
      white-space: nowrap;

      &:hover {
        color: $white-700;
      }

      &.active {
        color: $white;
      }
    }
  }

  /* Variant: headerMobile */
  &-headerMobile {
    display: grid;
    grid-auto-flow: row;
    background-color: transparent;
    text-align: center;
    row-gap: 8px;

    @include b-up(md) {
      row-gap: 20px;
    }

    #{$this}-link {
      font-size: 20px;
      line-height: 30px;
      font-weight: $font-weight-semi-bold;
      color: $white-500;
      transition: color 0.25s;

      &:hover,
      &:focus {
        color: $white;
      }

      &.active {
        color: $white;
      }

      @include b-up(md) {
        font-size: 32px;
        line-height: 48px;
        font-weight: $font-weight-bold;
      }
    }
  }

  /* Variant: header */
  &-footer {
    #{$this}-link {
      color: $white-500;
      white-space: nowrap;
      padding: 8px 12px;

      &:hover {
        color: $white-700;
      }

      @include b-d(md) {
        padding: 8px 10px;
      }
    }
  }

  /* Variant: tabs */
  &-tabs {
    border: 0;
    display: grid;
    column-gap: 12px;
    justify-content: start;

    #{$this}-link {
      @include text-nav-1-responsive;

      padding: 12px 28px;
      background-color: $gray-fields;
      border-radius: 12px;
      color: $white-500;
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      column-gap: 8px;
      transition: 0.25s color;
      border: 0;

      &::before {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 2px;
        background: linear-gradient(0, $white-500 0%, $white-500 100%);
        transition: 0.25s background;
      }

      &:hover {
        color: $white;
      }

      &.active {
        color: $white;
        background-color: $gray-fields;

        &::before {
          background: $gradient-3-success;
        }
      }

      &--warning.active::before {
        background: $gradient-5-warning;
      }

      &--danger.active::before {
        background: $gradient-2-danger;
      }
    }
  }
}
