//noinspection CssUnknownTarget
@import '~styles/mixins.scss';

.footer {
  margin-top: 60px;
  border-top: 1px solid $white-100;
  height: 80px;

  @include b-btw(md, lg) {
    height: 144px;
  }

  @include b-d(md) {
    height: 160px;
  }
}

.footerInner {
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;

  @include b-d(lg) {
    grid-auto-flow: row;
    row-gap: 28px;
    justify-content: center;
    align-content: center;
    justify-items: center;

    .nav {
      order: 2;
    }
  }
}
