.modalBody {
  text-align: center;
  padding: 4px 38px 56px;
}

.gridButtons {
  margin-top: 40px;
  display: grid;
  row-gap: 20px;
}

.btn {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
}
