//noinspection CssUnknownTarget
@import '~styles/mixins.scss';

.timerSection {
  display: grid;
  row-gap: 8px;
  justify-content: center;
}

.blockValue {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1b20;
  border-radius: 20px;

  @include b-d(md) {
    width: 60px;
    height: 60px;
  }
}

.textLabel {
  @include text-small-2;

  color: $white-500;
  text-transform: uppercase;
  text-align: center;
}
